@import "variables";
    .b-header {
               background-color: $color-red;
               padding: 10;
               min-height:40px;
               color: $color-white;

        .navbar {
               background-color: $color-red;
               padding: 10;
               min-height:40px;
               color: $color-white
        }

            .alink {
                    color: $color-white;
        
                } 

                .a {
                    color: $color-white;
        
                } 

                h1{ 
                    font-family: $font-family-primary;
                    font-size: $font-size-h1;
                    font-weight: $font-weight-h1;
                    
            }
            
            .img {
                width:100%;
                max-width:80px;
            } 

        h2{ 
                font-size: $font-size-h2;
                font-family: $font-family-h2;
                font-weight: $font-weight-h2;
                color: $color-red;
                
        }

    .oi {
            color: $color-white;
    }

}

.b-footer {
            background-color: $color-blue;
            color: $color-white;
    }

    .style1{
            border-top: 5px solid $color-red;
        
        }

    .card-height{
                height:440px;
}  